@media (max-width: 1024px) {
    :root {
        --icon-size: 2em;
    }

    body > header a {
        left: 2vw;
    }

    body > header h1 {
        margin: 0 1.2em;
    }

    main {
        flex-direction: column;
        gap: 0;
        height: initial;
        margin: 0 2vw;
    }

    .index-header {
        background-color: var(--pink);
    }

    #search{
        flex-direction: column;
        gap: 0;
    }

    #search > div {
        width: fit-content;
        margin: 1em auto;
    }

    main .wrapper {
        margin: 1rem 0;
        flex-direction: column;
        gap: 2rem;
    }

    main .wrapper > * {
        margin: 0 auto;
    }

    .instructions .verbs a {
        width: 8rem;
    }
}

@media (max-width: 720px) {
    :root {
        --std-size: 14px;
    }

    #search #problems {
        font-size: 0.8em;
    }
}