.label[data-part="ants"] {bottom: 94%; left: 7%;}
.label[data-part="time"] {top: 80.5%; left: 90%;}
.label[data-part="workers"] {bottom: 61.5%; left: 73%}
.label[data-part="reproducers"] {top: 37%; left: 73%}
.label[data-part="0"] {top: 90%; right: 92%}
.label[data-part="10000"] {top: 62%; right: 92%; white-space: nowrap}
.label[data-part="20000"] {top: 40%; right: 92%; white-space: nowrap}
.label[data-part="30000"] {bottom: 74.5%; right: 92%; white-space: nowrap}
.label[data-part="january"] {top: 90%; right: 86%}
.label[data-part="february"] {top: 90%; right: 80%}
.label[data-part="march"] {top: 90%; right: 73.5%}
.label[data-part="april"] {top: 90%; right: 67.5%}
.label[data-part="may"] {top: 90%; right: 61.5%}
.label[data-part="june"] {top: 90%; right: 56%}
.label[data-part="july"] {top: 90%; left: 48.5%}
.label[data-part="august"] {top: 90%; left: 54%}
.label[data-part="september"] {top: 90%; left: 60%}
.label[data-part="october"] {top: 90%; left: 66%}
.label[data-part="november"] {top: 90%; left: 72%}
.label[data-part="december"] {top: 90%; left: 78%}