---
layout: base
tag: index
short: Fiches méthode
title: Les fiches méthode
---

<main id="index-main">
    <!-- ***********************************************************************************************************
         SEARCH
    ************************************************************************************************************ -->
    <form id="search" action="">
        <div>
            <label for="index">
                <i class="bi bi-search"></i>
            </label>
            <input name="index" id="index" placeholder="Rechercher : mot-clé" autofocus>
        </div>
        <div>
            <label for="problems">
                <i class="bi bi-question-lg"></i>
            </label>
            <select name="problems" id="problems" required>
                <option value="" selected>Quel est votre problème ?</option>

                {% for category in site.data.problems %}
                    <optgroup label="{{ category.category | escape }}">
                        {% for problem in category.problems %}
                            <option value="{{ problem.tags | join: '|' | escape }}">
                                {{ problem.title }}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    </form>

    <nav class="main-menu">
        <ul class="main-menu__list">
            {% assign files = site.pages
                | where_exp: "file", "file.menu_order != nil"
                | sort: "menu_order"
            %}

            {% for file in files %}
                <li
                    data-tag="{{ file.tag }}"
                    data-keywords="{{ file.keywords | join: '|' | escape }}"
                >
                    <a class="btn index-btn" href="{{ file.url | relative_url }}">
                        {{ file.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</main>
